    <h1>Contact</h1>
    <p>
      
      Contact the administrator of this page at leaning@worksdesign.com.<br/>
      
      
      Contact Ruby on Rails Tutorial about this sample app at the
      <a href="http://railstutorial.org/feedback">feedback page</a>.
    </p>
